@-webkit-keyframes shadow-pop-br-yellow {
  0% {
    -webkit-box-shadow: 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00,
      0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00;
    box-shadow: 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00,
      0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #ffff00, 2px 2px #ffff00, 3px 3px #ffff00,
      4px 4px #ffff00, 5px 5px #ffff00, 6px 6px #ffff00, 7px 7px #ffff00,
      8px 8px #ffff00;
    box-shadow: 1px 1px #ffff00, 2px 2px #ffff00, 3px 3px #ffff00,
      4px 4px #ffff00, 5px 5px #ffff00, 6px 6px #ffff00, 7px 7px #ffff00,
      8px 8px #ffff00;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br-yellow {
  0% {
    -webkit-box-shadow: 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00,
      0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00;
    box-shadow: 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00,
      0 0 #ffff00, 0 0 #ffff00, 0 0 #ffff00;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #ffff00, 2px 2px #ffff00, 3px 3px #ffff00,
      4px 4px #ffff00, 5px 5px #ffff00, 6px 6px #ffff00, 7px 7px #ffff00,
      8px 8px #ffff00;
    box-shadow: 1px 1px #ffff00, 2px 2px #ffff00, 3px 3px #ffff00,
      4px 4px #ffff00, 5px 5px #ffff00, 6px 6px #ffff00, 7px 7px #ffff00,
      8px 8px #ffff00;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@-webkit-keyframes shadow-pop-br-uv {
  0% {
    -webkit-box-shadow: 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff,
      0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff;
    box-shadow: 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff,
      0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #4c00ff, 2px 2px #4c00ff, 3px 3px #4c00ff,
      4px 4px #4c00ff, 5px 5px #4c00ff, 6px 6px #4c00ff, 7px 7px #4c00ff,
      8px 8px #4c00ff;
    box-shadow: 1px 1px #4c00ff, 2px 2px #4c00ff, 3px 3px #4c00ff,
      4px 4px #4c00ff, 5px 5px #4c00ff, 6px 6px #4c00ff, 7px 7px #4c00ff,
      8px 8px #4c00ff;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br-uv {
  0% {
    -webkit-box-shadow: 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff,
      0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff;
    box-shadow: 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff,
      0 0 #4c00ff, 0 0 #4c00ff, 0 0 #4c00ff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #4c00ff, 2px 2px #4c00ff, 3px 3px #4c00ff,
      4px 4px #4c00ff, 5px 5px #4c00ff, 6px 6px #4c00ff, 7px 7px #4c00ff,
      8px 8px #4c00ff;
    box-shadow: 1px 1px #4c00ff, 2px 2px #4c00ff, 3px 3px #4c00ff,
      4px 4px #4c00ff, 5px 5px #4c00ff, 6px 6px #4c00ff, 7px 7px #4c00ff,
      8px 8px #4c00ff;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@-webkit-keyframes shadow-pop-br-dark {
  0% {
    -webkit-box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000,
      4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000,
      8px 8px #000000;
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000,
      4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000,
      8px 8px #000000;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br-dark {
  0% {
    -webkit-box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000,
      4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000,
      8px 8px #000000;
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000,
      4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000,
      8px 8px #000000;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@-webkit-keyframes shadow-pop-br-red {
  0% {
    -webkit-box-shadow: 0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson,
      0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson;
    box-shadow: 0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson,
      0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px $crimson, 2px 2px $crimson, 3px 3px $crimson,
      4px 4px $crimson, 5px 5px $crimson, 6px 6px $crimson, 7px 7px $crimson,
      8px 8px $crimson;
    box-shadow: 1px 1px $crimson, 2px 2px $crimson, 3px 3px $crimson,
      4px 4px $crimson, 5px 5px $crimson, 6px 6px $crimson, 7px 7px $crimson,
      8px 8px $crimson;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br-red {
  0% {
    -webkit-box-shadow: 0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson,
      0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson;
    box-shadow: 0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson,
      0 0 $crimson, 0 0 $crimson, 0 0 $crimson, 0 0 $crimson;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px $crimson, 2px 2px $crimson, 3px 3px $crimson,
      4px 4px $crimson, 5px 5px $crimson, 6px 6px $crimson, 7px 7px $crimson,
      8px 8px $crimson;
    box-shadow: 1px 1px $crimson, 2px 2px $crimson, 3px 3px $crimson,
      4px 4px $crimson, 5px 5px $crimson, 6px 6px $crimson, 7px 7px $crimson,
      8px 8px $crimson;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

.hover-card {
  &-uv {
    &:hover {
      -webkit-animation: shadow-pop-br-uv 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-uv 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      border-radius: 0 !important;
    }
  }
  &-yellow {
    &:hover {
      -webkit-animation: shadow-pop-br-yellow 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-yellow 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
        both;
      border-radius: 0 !important;
    }
  }

  &-dark {
    &:hover {
      -webkit-animation: shadow-pop-br-dark 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-dark 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
        both;
      border-radius: 0 !important;
    }
  }

  &-red {
    &:hover {
      -webkit-animation: shadow-pop-br-red 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-red 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      border-radius: 0 !important;
    }
  }

  &-uv-bordered {
    &:hover {
      -webkit-animation: shadow-pop-br-uv 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-uv 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      border-radius: 0 !important;
      border: 1px solid #4c00ff !important;
    }
  }
  &-yellow-bordered {
    &:hover {
      -webkit-animation: shadow-pop-br-yellow 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-yellow 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
        both;
      border-radius: 0 !important;
      border-color: #ffff00 !important;
      border: 1px solid #ffff00 !important;
    }
  }
  &-dark-bordered {
    &:hover {
      -webkit-animation: shadow-pop-br-dark 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-dark 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
        both;
      border-radius: 0 !important;
      border: 1px solid #000000 !important;
    }
  }

  &-red-bordered {
    &:hover {
      -webkit-animation: shadow-pop-br-red 0.2s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: shadow-pop-br-red 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      border-radius: 0 !important;
      border: 1px solid $crimson !important;
    }
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-12 18:20:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-12 18:22:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.hover-card {
  &-uv,
  &-yellow,
  &-dark,
  &-uv-bordered,
  &-yellow-bordered,
  &-dark-bordered {
    .card-img-border {
      border-radius: 0.5rem;
    }
  }

  &-uv,
  &-yellow,
  &-dark,
  &-uv-bordered,
  &-yellow-bordered,
  &-dark-bordered {
    &:hover {
      .card-img-border {
        border-radius: 0 !important;
      }
    }
  }
}

.member-avatar {
  width: 325px;
  height: 325px;
  object-fit: cover;
  @media screen and (max-width: 576px) {
    width: 300px;
    height: 300px;
  }
  @media screen and (max-width: 400px) {
    width: 275px;
    height: 275px;
  }
}

.prev-next-item {
  flex: 1 1 0px;
}

.marker-line {
  display: inline;
  float: none;
  padding: 0 0.5rem 0.25rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@each $color, $value in $theme-colors {
  .cyber-underline-#{$color} {
    @include cyber-underline-variant($value);
  }
}

@keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

hr {
  height: 14px !important;
  background-color: currentColor;
  width: 100%;
  clip-path: polygon(
    0px 3px,
    15px 3px,
    20px 0px,
    80px 0px,
    85px 3px,
    100% 3px,
    100% 4px,
    85px 4px,
    80px 7px,
    20px 7px,
    15px 4px,
    0px 4px
  );
  opacity: 1 !important;
}

.border-transparent {
  border-color: rgba(255, 255, 255, 0) !important;
}
